kaggle

pandas
numpy

jupyterlab
yapf
pep8

scipy
scikit-learn

beautifulsoup4

xgboost
lightgbm

matplotlib
seaborn
bokeh

pytest
coverage

requests

# jupyter-lab
jupyterlab-git
jupyterlab_tabnine
jupyterlab_code_formatter
jupyterlab_templates
jupyter-kite